/* Navbar Styling */

nav {
    background-color: #0A1428;
    font-family: "beaufort", serif;
    font-weight: 900;
    color: #F0E6D2;
    padding: 30px;
    text-align: center;
    font-size: 20px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

nav a {
    color: #F0E6D2;
    text-decoration: none;
    margin: 0 15px;
    font-size: 25px;
    cursor: url("images/cursor_default.png"), auto;;
}

nav a:hover {
    cursor: url("images/cursor_hover.png"), auto;
}

nav2 {
    cursor: url("images/cursor_default.png"), auto;
    background-color: #C89B3C;
    padding: 51px;
    border-radius: 15px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.container {
  display: flex;
  flex-direction: column; /* Stack grids vertically */
  align-items: center; /* Optional: Center grids horizontally */
}

/* Grid Styling */
#grid-title {
  color: #C89B3C;
  font-family: "beaufort";
  text-align: center;
  margin-top: 130px;
  font-size: 40px;
}


/* Grid Container */
.grid-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    background-color: #010a13 ;
    background-size: cover;
    background-position: center;
    position: relative; /* Important for absolute positioning of the button */
    flex-direction: column; /* Stack grids vertically */
    align-items: center; /* Optional: Center grids horizontally */

}

/* Grid */
.grid {
    display: grid;
    grid-template-columns: repeat(5, 150px); /* First column for row headers */
    grid-template-rows: repeat(4, 150px);  /* Row headers + grid rows */
    gap: 3px;
    background-color: #010a13;
    animation: fadeInZoom 1.5s ease-in-out;
}


/* Grid Item */
.grid-item {
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    /*background-image: "url('images/defaultsquare.png')";*/
    background-color: #0A1428;
    align-items: center;
    background-size: cover;
    border-radius: 5px; /* This will round the corners of the grid items */

}

.grid-item:hover {
    cursor: url("images/cursor_hover.png"), auto;
    background-color: #0d343d;
}

/* Apply animation to correct grid items */
.grid-item.correct {
    cursor: url("images/cursor_default.png"), auto;
    animation: correctAnswerReveal 0.8s ease-out forwards;
    background-size: cover !important; /* Use !important to ensure this takes precedence */
    background-position: center !important;
}

/* Apply animation to correct grid items */
.grid-item.incorrect {
    cursor: url("images/cursor_hover.png"), auto;
    animation: correctAnswerReveal 0.8s ease-out forwards;
    background-size: cover !important; /* Use !important to ensure this takes precedence */
    background-position: center !important;
}

/* Apply animation to correct grid items */
.grid-header[data-type="score"] {
    font-size: 30px;
}

#second-grid-title{
    color: #F0E6D2;
    font-family: "beaufort";
}


.column-image, .row-image, .rank-image {
    width: 100%;
    height: auto;
    object-fit: cover;  /* Ensures the image covers the header area */
}


/* Second Grid Styling */
#second-grid-title {
  color: #F0E6D2;
  font-family: "beaufort";
  font-size: 40px;
  text-align: center;
  margin-top: 150px;
  display: none; /* Initially hidden */
  opacity: 0;
  transition: opacity 0.5s ease;
}

/* Second Grid Styling */
#solutions-container {
  color: #F0E6D2;
  font-family: "beaufort";
  font-size: 40px;
  text-align: center;
  margin-top: 150px;
  display: none; /* Initially hidden */
  opacity: 0;
  transition: opacity 0.5s ease;
}

#second-grid-container {
  display: none; /* Initially hidden */
  margin-top: 150px;
  opacity: 0;
  transition: opacity 0.5s ease;
  /*background-color: rgba(247, 0, 255, 0.267) ; */

}

#second-grid-title.visible,
#second-grid-container.visible {
  opacity: 1;
}

/* Make sure this doesn't conflict with existing styles */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}



.FF-button-container {
  padding: 10px;
  border: red;
}

#forfeit {
  background-color: #ff0000;
  color: #F0E6D2;
  font-size: 25px; /* Increase font size */
  cursor: url("images/cursor_hover.png"), auto;
  border-radius: 5px;
  border-color: #ff0000;
  transition: background-color 0.3s ease;
  width: 70px; /* Set a specific width if desired */
  height: 50px; /* Set a specific height if desired */
}
#forfeit:hover {
  background-color: #F0E6D2;
  color: red;
  border-color: red;
}

#refresh {
  background-color: #F0E6D2;
  color: #010a13;
  font-size: 25px; /* Increase font size */
  cursor: url("images/cursor_hover.png"), auto;
  border-radius: 5px;
  border-color: #F0E6D2;
  transition: background-color 0.3s ease;
  width: 50px; /* Set a specific width if desired */
  height: 50px; /* Set a specific height if desired */
}

#refresh:hover {
  background-color: #010a13;
  color: #F0E6D2;
  border-color: #F0E6D2;
}









